    .list {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 14pt;
    }
    
    ul li a {
        float: left;
        display: block;
        background-color: black;
        width: 150px;
        text-align: center;
        line-height: 50px;
        font-size: 14pt;
    }
    
    ul li a {
        color: white;
        text-decoration: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .col-1 {
        width: 8.33%;
    }
    
    .col-2 {
        width: 16.66%;
        clear: both;
    }
    
    .col-3 {
        width: 25%;
        float: left;
        height: 230px;
        border: dashed;
        height: 320px;
        text-align: center;
        border-color: #AAAAAA;
        border: ridge 1px;
        border-radius: 8px;
        padding: 5px;
    }
    
    .col-4 {
        width: 33.33%;
        clear: both;
    }
    
    .col-5 {
        width: 41.66%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-7 {
        width: 58.33%;
    }
    
    .col-8 {
        width: 66.66%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-10 {
        width: 83.33%;
    }
    
    .col-11 {
        width: 91.66%;
    }
    
    .col-12 {
        width: 100%;
        float: left;
    }
    
    .text1 {
        vertical-align: middle;
        float: left;
        width: 1600px;
        height: 250px;
        background-color: gray;
        top: 10px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    
    div h1 {
        padding-top: 50px;
        font-size: 45px;
        color: black;
        padding-left: 50px;
        top: 100px;
    }
    
    .text1-1 {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 25px;
        top: 150px;
        left: 50px;
    }
    
    .button1 {
        position: relative;
        text-align: center;
        width: 120px;
        height: 20px;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 50px;
        background-color: blue;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
    }
    /*
.Button1 {
    color: blue;
    width: 150px;
    height: 150px;
    font-size: 20px;
    background-color: blue;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-right-radius: 3em;
}
*/
    
    img[src$=".png"] {
        float: left;
        padding: 15px;
        border: 1px dashed yellow;
    }
    
    * {
        box-sizing: border-box;
    }
    /* Desktop middle size */
    
    @media screen and ( min-width:992 px) {
        .col-md-1 {
            width: 8.33%;
        }
        .col-md-2 {
            width: 16.66%;
        }
        .col-md-3 {
            width: 25%;
        }
        .col-md-4 {
            width: 33.33%;
        }
        .col-md-5 {
            width: 41.66%;
        }
        .col-md-6 {
            width: 50%;
        }
        .col-md-7 {
            width: 58.33%;
        }
        .col-md-8 {
            width: 66.66%;
        }
        .col-md-9 {
            width: 75%;
        }
        .col-md-10 {
            width: 83.33%;
        }
        .col-md-11 {
            width: 91.66%;
        }
        .col-md-12 {
            width: 100%;
        }
    }
    /* Mobile Device small size */
    
    @media screen and ( min-width:768px) and ( max-width: 991px) {
        /*視窗寬度介於768-991之間*/
        .col-sm-1 {
            width: 8.33%;
        }
        .col-sm-2 {
            width: 16.66%;
        }
        .col-sm-3 {
            width: 25%;
        }
        .col-sm-4 {
            width: 33.33%;
        }
        .col-sm-5 {
            width: 41.66%;
        }
        .col-sm-6 {
            width: 50%;
        }
        .col-sm-7 {
            width: 58.33%;
        }
        .col-sm-8 {
            width: 66.66%;
        }
        .col-sm-9 {
            width: 75%;
        }
        .col-sm-10 {
            width: 83.33%;
        }
        .col-sm-11 {
            width: 91.66%;
        }
        .col-sm-12 {
            width: 100%;
        }
    }
    
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="col-"] {
            width: 100%;
        }
        /* For desktop: */
        .col-xs-1 {
            width: 8.33%;
        }
        .col-xs-2 {
            width: 16.66%;
        }
        .col-xs-3 {
            width: 25%;
        }
        .col-xs-4 {
            width: 33.33%;
        }
        .col-xs-5 {
            width: 41.66%;
        }
        .col-xs-6 {
            width: 50%;
        }
        .col-xs-7 {
            width: 58.33%;
        }
        .col-xs-8 {
            width: 66.66%;
        }
        .col-xs-9 {
            width: 75%;
        }
        .col-xs-10 {
            width: 83.33%;
        }
        .col-xs-11 {
            width: 91.66%;
        }
        .col-xs-12 {
            width: 100%;
        }
    }
