.w1 {
    background-color: blue;
    color: white;
}

.w2 {
    background-color: green;
    color: white;
}

.w3 {
    background-color: blue;
    color: white;
}

.w4 {
    background-color: #99D9EA;
    color: red;
}
